.section__2__botao{
    font-size: 20px;
color: #FFFFFF;
border: solid 1px;
border-style: none;
border-radius: 5px;
padding: 10px;
margin: 1rem 0;
background: red;
transition: 0.4s;
}

.section__2__botao:hover{
font-size: 22px;
color: #FFFFFF;
border: solid 1px;
border-style: none;
border-radius: 5px;
padding: 17px;
margin: 1rem 0;
background: red;
}