.section__3__video{
    
    border: solid 2px;
    border-color: #3b3b3b;
    border-radius: 5px;
    transition: 0.4s;
}

.section__3__video:hover{
    border: solid 2px;
    border-color: #3b3b3b;
    border-radius: 5px;
    width:600px;
    