.section__1__container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../imagens/section\ 1.jpg);
    background-size: cover;
    background-repeat: none;
    width: auto;
    height: 950px;
    left: 0px;
    top: auto;
    gap: 1rem;
}